    /*RESET
-----------------------------------------*/
    
    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        color: #2c3e50;
    }
    
    a {
        text-decoration: none;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
    }
    
     :root {
        font-size: 16px;
        /* root significa RAIZ,ou seja, a font raiz tera 16px */
    }
    
    a:hover {
        color: #f47933;
    }
    
    img {
        max-width: 100%;
        border: 0;
    }
    
    input,
    button,
    textarea {
        border: none;
    }
    /* GERAIS */
    
    ul {
        list-style: none;
    }
    
    .font-zero {
        font-size: 0%;
    }
    
    .padrao,
    .selecao {
        float: left;
        width: 100%;
    }
    
    .selecao {
        padding-top: 72px;
    }
    
    .selecao-header {
        text-align: center;
        margin-bottom: 40px;
        font-size: 1.2rem;
    }
    
    .selecao-header .centralizacao {
        max-width: 800px;
    }
    
    .selecao-header h1 {
        font-weight: normal;
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        color: #01c0b5;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    .selecao-header h1:after {
        /* o after é um pseudo elemento */
        content: "";
        position: absolute;
        height: 4px;
        width: 100%;
        max-width: 480px;
        background: #01c0b5;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    
    .selecao-header h1:before {
        /* Criação de seta */
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -12px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid #01c0b5;
    }
    
    .centralizacao {
        max-width: 1280px;
        width: 90%;
        margin: 0 auto;
    }


  /************************************************************/
  /*********************** MODAL  ******************************/
  /************************************************************/

  /********** dialog *****************/

  .dialog{
      position: fixed;
      background: rgba(255, 255, 255, .96);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 99;
      padding: 50px 20px 20px ;

  }
  .dialog-close {
      /* botão */
      background: transparent;
      color: #f47933;
      font-size: 1.2rem;
      cursor: pointer;  /*para aparecer a mão quando passa o mouse*/
      position: fixed;
      left: 50%;
      top: 5px;
      transform: translateX(-50%);   /*Usamos o transform  pois determinamos o left em 50% ( para que assim possamos centralizar o botão*/
      -webkit-transform: translateX(-50%);
  }
  .dialog-close i {
      font-size: 2rem;
      position: relative;
      top: 4px;
  }
.dialog-body {
 /* Parte onde vai o conteudo */
 overflow-y: auto;  
 /*para conseguir deixar em 100% para conseguirmos ver todo conteudo*/
 width: 90%;
 max-width: 760px;
 margin: 0 auto;
 max-height: 100%;
 position: relative;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);


}

.dialog-body-header{
    /* cabeçario principal  */
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 20px 0 10px 0;
    text-transform: uppercase;
    margin-bottom: 10px;
    /* linha que vai embaixo  */
    border-bottom: 2px solid #01c0b5;
    line-height: 1.2; /*para aproximar a letra, pois ela já vem comespaçamento*/

}
.dialog-body-header strong {
    font-size: 2rem;
    font-weight: 400;
}
.dialog-body-header span {
    font-size: 1.5rem;
    font-weight: 400;
    color: #01c0b5;
   
}

.dialog-cols .padrao{
  margin-bottom: 20px;
}
.dialog-cols p {
    margin-bottom: 10px;
}

/* header */
.dialog-cols-header{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #01c0b5;

}
.dialog-cols-header span {
    /* stilo do span */
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #01c0b5;
   position: relative;
}
.dialog-cols-header span::after{
    /* linha pequena que vai embaixo */
    content: "";
    background: #01c0b5;
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;

}



















