    /*RESET
-----------------------------------------*/
    
    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        color: #2c3e50;
    }
    
    a {
        text-decoration: none;
    }
    
     :root {
        font-size: 16px;
        /* root significa RAIZ,ou seja, a font raiz tera 16px */
    }
    
    a:hover {
        color: #f47933;
    }
    
    img {
        max-width: 100%;
        border: 0;
    }
    
    input,
    button,
    textarea {
        border: none;
    }
    /* GERAIS */
    
    .font-zero {
        font-size: 0%;
    }
    
    .padrao,
    .selecao {
        float: left;
        width: 100%;
    }
    
    .centralizacao {
        max-width: 1280px;
        width: 90%;
        margin: 0 auto;
    }