/*HEADER
--------------------------*/

.header {
    border-top: solid;
    color: #2c3e50;
}


/*nav-toggle*/

#nav-toggle {
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    position: fixed;
    z-index: 15;
    display: none;
    background: #2c3e50;
    padding: 15px;
    top: 0;
    right: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#nav-toggle span {
    border-bottom-left-radius: 1px;
    height: 2px;
    width: 30px;
    display: block;
    background: #fff;
    -webkit-border-bottom-left-radius: 1px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

#nav-toggle span:nth-child(2) {
    margin: 6px 0;
}

#nav-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate3d(6px, 6px, 0);
    -webkit-transform: rotate(45deg) translate3d(6px, 6px, 0);
}

#nav-toggle.active span:nth-child(2) {
    opacity: 0;
}

#nav-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate3d(6px, -5px, 0);
    -webkit-transform: rotate(-45deg) translate3d(6px, -5px, 0);
}


/*BREACKPOINT
-------------------------------------------------*/


/* MAX-WIDTH */

@media (max-width: 960px) {
    #nav-toggle {
        display: block;
    }
    /*menu mobile*/
    .header-collapse {
        position: fixed;
        background: rgb(45, 63, 81, .95);
        width: 100%;
        height: 100%;
        z-index: 10px;
        padding: 15px;
        top: 0;
        left: 0;
        transition: top .4s ease;
        -webkit-transition: top .4s ease;
    }
    /* header nav*/
    .header-nav ul li {
        width: 100%;
        text-align: center;
        padding: 5px, 0;
    }
    .header-nav ul li a {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.375rem;
    }
}